.transactionHistory {
  width: 30rem;
  text-align: center;
  background-color: #fdfafd;
  border-collapse: collapse;
  margin-bottom: 1rem;
  box-shadow: 1px 1px 15px grey;
}

.head {
  background-color: #3cc4e8;
  color: white;
}

.type {
  text-transform: capitalize;
}

th,
td {
  padding: 15px 45px;
  border: 2px solid black;
}

th {
  font-weight: 700;
}

tr:nth-child(even) {
  background-color: #dff4fa;
}
